.palette-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 215px;
  align-items: stretch;
}
.color-block{
    width: 200px;
    height: 450px;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    flex-direction: column;

}
.color-display {
  flex: 1;
}
.color-code {
  text-align: center;
  padding: 0.5rem;
  font-family: monospace;
  background: #fff;
}
h1{
    text-align: center;
    font-size: 30px;
    color: pink;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.generate-button{
    width: 110px;
    height: 50px;
  margin-top: auto;
  align-self: center;
  background-color: pink;
  color: white;

}

